{% extends 'layout.html' %}

{% block content %}

<!-- 普通下载任务 -->
<div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-normal-task">
        添加任务
    </button>

    <!-- Modal -->
    <div class="modal fade" id="add-normal-task" tabindex="-1" role="dialog" aria-labelledby="NormalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="NormalLabel">添加普通下载任务</h4>
                </div>
                <div class="modal-body">
                    <form class="form" role="form" method="POST" id="download-normal-form" enctype="multipart/form-data">
                        <input type="hidden" name="type" value="normal" />
                        <div class="form-group">
                            <label class="sr-only">任务名</label>
                            <input type="text" class="form-control" name="name" placeholder="任务名">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">下载链接</label>
                            <textarea name="link" class="form-control" rows="3" placeholder="下载地址" style="margin-top: 10px"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-success" onclick="$('#download-normal-form').submit()">添加</button>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>任务名</th>
            <th>添加时间</th>
            <th>任务状态</th>
            <th>文件大小</th>
            <th>任务进度</th>
            <th>实时速度</th>
            <th>取回本地</th>
            <th>删除</th>
            <th>原始链接</th>
        </tr>
    </thead>
    <tbody name="tbody">
        {% for d in ndownloads %}
            <tr name="normal" {% if d.finished %} class="success" {% endif %} id="{{d.sid}}">

                <td class="name">{{ d.name }}</td>
                <td class="date">{{ d.date|date('Y-m-d H:i:s') }}</td>
                <td class="status">
                    {% if d.error_info %}
                        <spin data-toggle="tooltip" title="{{d.error_info}}">{{ d.status }}</spin>
                    {% else %}
                        {{ d.status }}
                    {% endif %}
                </td>
                <td class="size">{{ d.size }}</td>
                <td class="progress">{{ d.progress }}</td>
                <td class="speed">{{ d.speed }}</td>
                <td class="finished">
                    {% if d.finished %}
                        <a href="/downloads/static/{{ d.sid }}/{{ d.local_file }}">下载</a>
                    {% else %}
                        下载未完成
                    {% endif %}
                </td>
                <td><a href="/downloads/delete/{{ d.sid }}"  onclick="if(confirm('确定删除?')==false)return false;">删除</a></td>
                <td><a href="{{ d.origin_url }}">原始链接</a></td>

            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function installNormal(e) {
        var sid = e.attr('id');
        var refresh = function() {
            $.get('/downloads/info/' + sid, function(rst) {
                ['name', 'status', 'size', 'progress', 'speed'].forEach(function(key) {
                    e.find('td.'+key).html(rst[key]);
                });
                if (rst.finished) {
                    e.addClass('success');
                    e.find('td.finished').html('<a href="/downloads/static/'+rst._id+'/'+rst.local_file+'">下载</a>');
                } else {
                    e.removeClass('success');
                    e.find('td.finished').html('下载未完成');
                }
                if (!rst.finished) {
                    setTimeout(function(){refresh();}, 1000);
                }
            });
        }
        refresh();
    }
    $(function () {
        $('tr[name="normal"]').each(function() {
            var e = $(this);
            installNormal(e);
        });
    });
</script>
<!-- 普通下载任务 -->

<hr/>

<!-- 自动更新下载任务 -->
<div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-autoupdate-task">
        添加任务
    </button>

    <!-- Modal -->
    <div class="modal fade" id="add-autoupdate-task" tabindex="-1" role="dialog" aria-labelledby="AutoupdateLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="AutoupdateLabel">添加自动更新下载任务</h4>
                </div>
                <div class="modal-body">
                    <form class="form" role="form" method="POST" id="download-autoupdate-form" enctype="multipart/form-data">
                        <input type="hidden" name="type" value="autoupdate" />
                        <div class="form-group">
                            <label class="sr-only">任务名</label>
                            <input type="text" class="form-control" name="name" placeholder="任务名"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Python脚本文件</label>
                            <input type="file" name="script"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-success" onclick="$('#download-autoupdate-form').submit()">添加</button>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>任务名</th>
            <th>添加时间</th>
            <th>任务状态</th>
            <th>文件大小</th>
            <th>任务进度</th>
            <th>实时速度</th>
            <th>取回本地</th>
            <th>删除</th>
            <th>原始链接</th>
        </tr>
    </thead>
    <tbody name="tbody">
        {% for d in adownloads %}
            <tr name="autoupdate" {% if d.finished %} class="success" {% endif %} id="{{d.sid}}">

                <td class="name">{{ d.name }}</td>
                <td class="date">{{ d.date|date('Y-m-d H:i:s') }}</td>
                <td class="status">
                    {% if d.error_info %}
                        <spin data-toggle="tooltip" title="{{d.error_info}}">{{ d.status }}</spin>
                    {% else %}
                        {{ d.status }}
                    {% endif %}
                </td>
                <td class="size">{{ d.size }}</td>
                <td class="progress">{{ d.progress }}</td>
                <td class="speed">{{ d.speed }}</td>
                <td class="finished">
                    {% if d.finished %}
                        <a href="/downloads/static/{{ d.sid }}/{{ d.local_file }}">下载</a>
                    {% else %}
                        下载未完成
                    {% endif %}
                </td>
                <td><a href="/downloads/delete/{{ d.sid }}"  onclick="if(confirm('确定删除?')==false)return false;">删除</a></td>
                <td><a href="{{ d.origin_url }}">原始链接</a></td>

            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function installNormal(e) {
        var sid = e.attr('id');
        var refresh = function() {
            $.get('/downloads/info/' + sid, function(rst) {
                ['name', 'status', 'size', 'progress', 'speed'].forEach(function(key) {
                    e.find('td.'+key).html(rst[key]);
                });
                if (rst.finished) {
                    e.addClass('success');
                    e.find('td.finished').html('<a href="/downloads/static/'+rst._id+'/'+rst.local_file+'">下载</a>');
                } else {
                    e.removeClass('success');
                    e.find('td.finished').html('下载未完成');
                }
                if (!rst.finished) {
                    setTimeout(function(){refresh();}, 1000);
                }
            });
        }
        refresh();
    }
    $(function () {
        $('tr[name="autoupdate"]').each(function() {
            var e = $(this);
            installNormal(e);
        });
    });
</script>
<!-- 自动更新下载任务 -->

{% endblock %}