<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% block title %}我的树莓派{% endblock %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="static/img/favicon.png" />

	<link href="static/css/bootstrap.min.css" rel="stylesheet">

	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	{% block head %}{% endblock %}
</head>

<body>
	<header role="banner">
		<nav role="navigation" class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
					<a class="navbar-brand" href="/">树莓派</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li {% if tab == 'downloads' %} class="active" {% endif %}><a href="downloads"> 下载 </a></li>
						<li {% if tab == 'tty' %} class="active" {% endif %}><a href="tty"> 终端 </a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="poweroff" onclick="return confirm('确定关机?')">关机</a></li>
						<li><a href="restart" onclick="return confirm('确定重启?')">重启</a></li>
					</ul>
				</div> <!--/.nav-collapse -->
			</div> <!--/.container -->
		</nav>
	</header>

	<main role="main">
		<div class="container">
			{% include 'flash.html' %}
			{% block content %}{% endblock %}
		</div>
	</main>

	<footer role="contentinfo">
		<p class="text-center">&copy; 不知所谓的版权信息</p>
	</footer>
</body>

</html>